@plugin "daisyui" {
    exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;
    prefersdark: true;
    --root-bg: #0f1011;
    --color-primary: #167bff;
    --color-primary-content: #ffffff;
    --color-secondary: #9c5de8;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #dce1e6;
    --color-neutral-content: #1e2832;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #17c964;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    --color-base-100: #16181a;
    --color-base-200: #24282c;
    --color-base-300: #303438;
    --color-base-content: #f0f4f8;

    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --rounded-box: 0.25rem;
    --radius-selector: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 20px;
    --card-fs: var(--text-base);

    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;
    --root-bg: white;
    --color-primary: #167bff;
    --color-primary-content: #ffffff;
    --color-secondary: #9c5de8;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #1e2832;
    --color-neutral-content: #fafcff;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #17c964;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    --color-base-100: #ffffff;
    --color-base-200: #eef0f2;
    --color-base-300: #dcdee0;
    --color-base-content: #1e2328;

    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --rounded-box: 0.25rem;
    --radius-selector: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 20px;
    --card-fs: var(--text-base);

    --depth: 0;
    --noise: 0;
}
